.skills-container {
    background-color: white;
    padding: 30px 0;
    border-radius: 30px;
    -webkit-box-shadow: inset 0px 10px 22px -10px #000000; 
    box-shadow: inset 0px 10px 22px -10px #000000;
}
.d-block {
    width: auto;
    height: 45px;
}