.header__nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    background: linear-gradient(#4780D6, rgb(77, 132, 215))
}

.header__nav-buttons > a {
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
}